// TOP BAR
.re-top-bar {
    float: left;
    width: 100%;
    padding: 10px 3px;
    position: relative;
  
    // LEFT BAR
    .re-left-bar {
      float: left;
      padding: 19px 0 7px 80px;
      position: relative;
  
      .re-module-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        padding: 15px;
        border-radius: 5px;
        border: solid 2px #f2f2f2;
      }
  
      .re-module-name {
        float: left;
        font-size: 20px;
        font-weight: 500;
        color: #01010b;
        line-height: 1.2;
        text-transform: capitalize;
      }
    }
  
    // RIGHT BAR
    .re-right-bar {
      float: right;
      margin: 10px 0;
  
      .active {
        background-color: #3b3b3b !important;
        fill: #fff !important;
      }
  
      .re-border-right {
        &::after {
          content: "";
          width: 2px;
          height: 34px;
          float: left;
          margin: 2px 10px;
          border-radius: 1px;
          background-color: #f2f2f2;
        }
      }
  
      .re-border-left {
        &::before {
          content: "";
          width: 2px;
          height: 34px;
          float: left;
          margin: 2px 10px;
          border-radius: 1px;
          background-color: #f2f2f2;
        }
      }
  
      .re-box {
        float: left;
        border-radius: 5px;
        margin: 3px 0;
        overflow: hidden;
        border: solid 1px #ededed;
        background-color: #ffffff;
  
        a {
          float: left;
          background-color: #f2f2f2;
          padding: 8px 10px;
          fill: #95989a;
        }
      }
  
      .re-filter,
      .re-reset-filter {
        .btn-default {
          float: left;
          width: 34px;
          height: 34px;
          color: #95989a;
          font-size: 16px;
          text-align: center;
          margin: 3px;
          padding: 5px 3px;
          border-radius: 8px;
          border: solid 1px #ededed;
          background-color: #ffffff;
          outline: none;
  
          img {
            max-width: 20px;
            margin-top: 4px;
          }
        }
      }
  
      .re-reset-filter {
        .btn-default {
          width: auto !important;
          padding: 5px 12px !important;
        }
      }
  
      a.fa {
        padding: 10px;
  
        &.re-options {
          cursor: pointer;
        }
  
        &.re-group {
          color: #95989a;
        }
      }
  
      .re-view {
        & > li:first-child {
          border-bottom: 1px solid #f2f2f2;
        }
      }
  
      .re-add {
        .re-btn-custom {
          float: left;
          height: 34px;
          text-align: center;
          margin: 3px;
          padding: 0;
          border-radius: 3px;
          border: solid 1px #ededed;
          background-color: #ffffff;
          outline: none;
  
          .re-btn-text {
            color: #01010b;
            font-size: 14px;
            line-height: 1.2;
            padding: 8px 10px 8px 2px;
            display: inline-block;
          }
  
          img {
            padding: 2px;
            max-width: 20px;
            margin: 6px 7px;
            float: left;
          }
        }
      }
    }
  }
  
  .re-btn-custom-cancel {
    color: #ffffff;
    border-color: #05b27c;
    background-color: #05b27c;
  }
  .re-module-sub-name {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--midnight);
    vertical-align: sub;
    margin-left: 10px;
  }
  
  .re-refresh-icon {
    padding: 9px 9px 7.7px 10px;
    border-radius: 12px;
    border: solid 1px #ededed;
    margin-left: 10px;
    vertical-align: middle;
  }
  .re-refresh-icon img {
    width: 15px;
    height: 19.3px;
    object-fit: contain;
  }
  .re-pointer {
    display: inline-block;
  }
  .re-account-head-right {
    float: right;
  }
  .re-add-btn {
    background: #008080;
  }
  .re-dropdown-list {
    padding: 14px 15px 14px 12px;
    font-weight: normal;
    border-bottom: 2px solid #eee;
  }
  .re-dropdown-list:last-child {
    border-bottom: none;
  }
  .re-dropdown-list a {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #01010b;
    cursor: pointer;
  }
  .re-dropdown-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  .re-bank-list-drop {
    padding: 5px 0.2px 5px 0;
    box-shadow: 0 0 20px 0 rgba(1, 1, 11, 0.3);
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
  }
  
  .re-open-account-dropdown .dropdown-menu {
    padding: 4px 0;
  }
  .re-open-account-dropdown .dropdown-menu li {
    display: block;
    margin: 10px 0;
  }
  .re-open-account-dropdown .dropdown-menu li a {
    display: block;
    font-size: 13px;
    cursor: pointer;
    padding: 0 9px;
  }
  .re-serchbox.open {
    max-width: 210px;
  }
  .re-serchbox {
    max-width: 34px;
    overflow: hidden;
    height: 34px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    border: solid 1px #ededed;
    background-color: #ffffff;
    color: #95989a;
    font-size: 16px;
    text-align: center;
    margin: 3px;
    border-radius: 8px;
    outline: none;
  }
  .re-serchbox .input-group {
    display: table;
  }
  .re-serchbox .re-serchbox-input-group a {
    border: none !important;
    padding: 5px 3px !important;
    margin: 0 !important;
    box-shadow: none;
  }
  .re-serchbox .re-serchbox-input-group input {
    border: none;
    padding-left: 0;
    font-size: 12px;
    font-weight: 400;
    color: #95989a;
    width: 173px;
  }
  .uploadiv {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 4px;
    color: #95989a;
    position: relative;
    cursor: pointer;
  }
  
  .uploadiv input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .uploadiv img {
    height: 25px;
  }
  
  @media (max-width: 767px) {
    .re-top-bar .re-left-bar {
      margin-bottom: 10px;
    }
    .re-add {
      margin-top: 0px;
    }
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 6px;
    }
  }
  
  @media (max-width: 540px) {
    .re-top-bar .re-right-bar {
      float: left;
    }
    .re-add {
      margin-top: 0px;
    }
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 15px;
    }
  }
  @media (max-width: 414px) {
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 19px;
    }
  }
  @media (max-width: 411px) {
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 19px;
    }
  }
  @media (max-width: 375px) {
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 13px;
    }
  }
  @media (max-width: 360px) {
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 10px;
    }
  }
  @media (max-width: 320px) {
    .re-top-bar .re-right-bar .re-border-right::after {
      margin: 2px 4px;
    }
  }
  