<div class="sidebar-wrapper">
    <a class="navbar-brand1" href="javascript:;">
      <img src="assets/images/logo.svg" />
    </a>
    <ul id="sidemenu" style="list-style-type: none;" class="sidebar-nav">
      <ng-container *ngFor="let menu of sideMenu">
        <li
          class="droplist"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="$event.stopPropagation()"
        >
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img [src]="menu?.icon" alt="" />
          </a>
          <div class="dropdown-menu">
            <div class="subdiv">
              <span class="title">{{ menu?.label }}</span>
              <div class="dropdown-divider"></div>
  
              <ng-container *ngFor="let subMenu of menu?.subMenu">
                <a
                  [routerLink]="subMenu?.route"
                  [target]="subMenu?.target"
                  [queryParams]="subMenu.queryParams"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="dropdown-item"
                >
                  <img [src]="subMenu?.icon" alt="" />
                  {{ subMenu?.label }}
                </a>
              </ng-container>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  