/*-------------------------- Sidebar-Sidebar Start --------------------------*/

#wrapper {
  padding-top: 53px;
  padding-left: 85px;
  padding-right: 25px;
  width: 100%;
  min-height: 550px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.padd0 {
  padding-top: 5px;
}
.sidebar-wrapper {
  background-color: #161616;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1040;
  width: 60px;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-wrapper .navbar-brand1 {
  padding-top: 24px;
  height: auto;
  padding: 16px 8px 0 8px;
  background-color: #161616 !important;
  width: 60px;
  text-align: center;
  float: left;
  font-size: 18px;
  line-height: 20px;
}
.sidebar-wrapper .sidebar-nav {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  margin-left: -31px;
}
.sidebar-wrapper .sidebar-nav .droplist {
  float: left;
  width: 100%;
  position: relative;
  margin: 5px 0px;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-toggle {
  display: block;
  text-decoration: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent !important;
  text-align: center;
  padding: 8px 37px 8px 5px;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-toggle img {
  max-width: 26px;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-toggle svg {
  fill: #95989a;
}
.sidebar-wrapper .sidebar-nav .droplist.active .dropdown-toggle {
  border-color: #fff;
  background-color: #000;
}
.sidebar-wrapper .sidebar-nav .droplist.active .dropdown-toggle img {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}
.sidebar-wrapper .sidebar-nav .droplist.active .dropdown-toggle svg {
  fill: #ffffff;
}
.sidebar-wrapper .sidebar-nav .droplist:hover .dropdown-toggle {
  background-color: #008080;
}
.sidebar-wrapper .sidebar-nav .droplist:hover .dropdown-toggle img {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}
.sidebar-wrapper .sidebar-nav .droplist:hover .dropdown-toggle svg {
  fill: #ffffff;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-toggle::after {
  display: none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu {
  top: -12px;
  left: 250%;
  min-width: 170px;
  border: none;
  margin: 0;
  padding: 0 0 0 10px;
  background-color: transparent;
  box-shadow: none;
}
.sidebar-wrapper .sidebar-nav .droplist.open .dropdown-menu {
  display: none;
}
.sidebar-wrapper .sidebar-nav .droplist:hover .dropdown-menu {
  display: block;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 30px;
  border-top: 6px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 6px solid transparent;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .subdiv {
  float: left;
  width: 100%; /*padding-bottom:5px;*/
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  padding: 20px;
  color: #01010b;
  float: left;
  width: 100%;
  text-transform: uppercase;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-divider {
  background-color: #ebebeb;
  height: 1px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-item {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  padding: 9px 20px 8px 38px;
  margin-bottom: 5px;
  color: #01010b;
  float: left;
  width: 100%;
  position: relative;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-item:hover,
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-item.active {
  background-color: #ebfbfb;
  color: #007f7f;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-item svg {
  position: absolute;
  left: 8px;
  top: 2px;
  max-width: 26px;
  fill: #95989a;
}
.sidebar-wrapper .sidebar-nav .droplist .dropdown-menu .dropdown-item img {
  position: absolute;
  left: 8px;
  top: 2px;
  max-width: 26px;
}
.sidebar-wrapper
  .sidebar-nav
  .droplist
  .dropdown-menu
  .dropdown-item:hover
  svg {
  fill: #007f7f;
}

@media screen and (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    padding-right: 5px;
  }
  #wrapper.padd0 {
    padding-top: 53px;
  }
  .sidebar-wrapper {
    /*top: 59px;*/
    z-index: 1000;
  }
  .sidebar-wrapper .sidebar-nav {
    margin-top: 10px;
  }
  .sidebar-wrapper .sidebar-nav .droplist {
    margin: 0;
  }
}
