<div class="re-module-table">
  <table [style.width]="staticWidth" class="table table-hover">
    <thead>
      <tr>
        <th
          *ngFor="let item of header"
          [ngStyle]="item?.style"
        >
          {{ item?.label }}
          <!-- <span
              [class]="sortVal == item?.key ? sortClass : 're-sort'"
              *ngIf="item?.sort"
              (click)="onChangeSort(item?.key)"
            >
            </span> -->
        </th>
        <!-- <th scope="col" *ngFor="let item of head" [ngStyle]="item?.style">
          {{ item?.label }}
        </th> -->
      </tr>
    </thead>
    <tbody *ngIf="data">
      <tr *ngFor="let item of data; let itemIndex = index">
        <ng-container *ngFor="let head of header; let headIndex = index">
          <td
            class="re-table-td"
            *ngIf="head?.key !== 'action'"
            (click)="
              head?.isClickExists
                ? callAction(head?.event, item, itemIndex)
                : ''
            "
            [ngStyle]="head?.style"
          >
            <ng-container *ngIf="isMultiSelectEnabled && headIndex === 0">
              <input
                type="checkbox"
                [name]="this.moduleName"
                [value]="item?._id"
                (click)="selectItem(item, $event)"
                style="vertical-align: middle"
              />
              <span class="checkmark"></span>
            </ng-container>

            <!-- ICON -->
            <img
              *ngIf="head?.isIconExists"
              class="re-icon"
              src="../../../assets/images/{{ getIcon(item, head) }}"
              [ngStyle]="head?.iconStyle?.style"
              onerror="this.src='/assets/images/default.png'"
            />

            <!-- META DATA IMAGE -->
            <span *ngIf="getValue(item, head?.metaData?.image) != 'N/A'">
              <img
                *ngIf="head?.metaData?.image"
                class="re-icon"
                [ngStyle]="head?.metaData?.image?.style"
                [src]="getValue(item, head?.metaData?.image)"
                onerror="this.src = '/assets/images/default.png'"
              />
            </span>

            <!-- INITIALS -->
            <span
              *ngIf="getValue(item, head?.metaData?.image) == 'N/A'"
              class="re-initials"
            >
              {{ getInitials(getValue(item, head)) }}
            </span>

            <!-- VALUE -->
            <ng-container *ngIf="!head?.pipe && !head?.file">
              <div class="re-tooltip">
                <span class="re-file-title" [ngClass]="head.class">
                  <ng-container *ngIf="head?.key">
                    {{ getValue(item, head) }}
                  </ng-container>

                  <!-- INNER VALUE -->
                  <p>
                    <ng-container
                      *ngFor="
                        let value of head?.innerValue;
                        let innerIndex = index
                      "
                    >
                      <span *ngIf="innerIndex > 0">
                        {{ head?.separator }}
                        <br *ngIf="head?.separator == '|'" />
                      </span>

                      <span
                        *ngIf="value"
                        [ngStyle]="value?.style"
                        (click)="
                          value?.isClickExists
                            ? callAction(value?.event, item, value)
                            : ''
                        "
                      >
                        <ng-container [ngSwitch]="value?.pipe">
                          <!-- DATE -->
                          <ng-container *ngSwitchCase="'DATE'">
                            {{ getValue(item, value) | date: "MMM dd, yyyy" }}
                          </ng-container>

                          <!-- DATE TIME -->
                          <ng-container *ngSwitchCase="'DATE_TIME'">
                            {{
                              getValue(item, value)
                                | date: "MMM dd, yyyy hh:mm a"
                            }}
                          </ng-container>

                          <!-- TIME -->
                          <ng-container *ngSwitchCase="'TIME'">
                            {{ getValue(item, value) | date: "shortTime" }}
                          </ng-container>

                          <!-- PHONE -->
                          <ng-container *ngSwitchCase="'PHONE'">
                            {{ utilities.maskNumber(getValue(item, value)) }}
                          </ng-container>

                          <!-- PHONE -->
                          <ng-container *ngSwitchCase="'CAMEL_CASE'">
                            {{
                              utilities.camelCaseToWord(
                                getValue(item, value),
                                value?.style
                              )
                            }}
                          </ng-container>
                          <!-- PHONE -->
                          <ng-container *ngSwitchCase="'TITLE_CASE'">
                            {{
                              utilities.titleCaseToWord(getValue(item, value))
                            }}
                          </ng-container>

                          <!-- DEFAULT -->
                          <ng-container *ngSwitchDefault>
                            {{ getValue(item, value) }}
                          </ng-container>
                        </ng-container>
                      </span>
                    </ng-container>

                    <!-- {{ head?.innerIcon | json }} -->
                    <ng-container
                      *ngFor="
                        let icon of head?.innerIcon;
                        let innerIndex = index
                      "
                    >
                      <img
                        style="padding: 2px 6px 0px 0px"
                        *ngIf="
                          item.reminders.length > 0 && icon.type == 'reminder'
                        "
                        [src]="'assets/images/' + getIcon(icon, head)"
                        alt=""
                      />

                      <img
                        style="padding: 2px 6px 0px 0px"
                        *ngIf="item.taskDetail && icon.type == 'description'"
                        [src]="'assets/images/' + getIcon(icon, head)"
                        alt=""
                      />
                    </ng-container>

                    <!-- {{ head?.innerData | json }} -->
                    <ng-container
                      *ngFor="
                        let data of head?.innerData;
                        let innerIndex = index
                      "
                    >
                      <span *ngIf="!data.static">{{
                        utilities.titleCaseToWord(getValue(item, data))
                      }}</span>
                      <span
                        class="re-sub-category"
                        *ngIf="data.static && data.static != 'Lead'"
                      >
                        • {{ data.static }}: {{ getValue(item, data) }}
                      </span>

                      <span
                        class="re-sub-category"
                        *ngIf="data.static && data.static == 'Lead'"
                      >
                        {{ getValue(item, data) }}
                        {{ getValue(item, data) != "N/A" ? data.static : "" }}
                      </span>
                    </ng-container>
                  </p>
                </span>
                <span class="re-tooltiptext" *ngIf="head?.isTooltipExists">
                  {{ getValue(item, head) }}
                </span>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </tr>

      <!-- <tr>
          <td
            [colSpan]="header?.length"
            *ngIf="_sharedService.checkLoader('LIST')"
          >
            <div class="re-loading">
              <ngx-ui-loader
                [loaderId]="'LIST'"
                [fgsType]="'rectangle-bounce-pulse-out'"
                [hasProgressBar]="false"
                [overlayColor]="'#f2f2f2'"
              ></ngx-ui-loader>
            </div>
          </td>
        </tr> -->

      <tr *ngIf="!data.length">
        <td [colSpan]="header?.length" class="text-center re-no-data">
          No Data
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2" scope="colgroup" style="text-align: center">Mars</th>
        <th colspan="2" scope="colgroup" style="text-align: center">Venus</th>
      </tr>
      <tr>
        <th scope="col">Produced</th>
        <th scope="col">Sold</th>
        <th scope="col">Produced</th>
        <th scope="col">Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>50,000</td>
        <td>30,000</td>
        <td>100,000</td>
        <td>80,000</td>
      </tr>
      <tr>
        <td>10,000</td>
        <td>5,000</td>
        <td>12,000</td>
        <td>9,000</td>
      </tr>
    </tbody>
  </table> -->
</div>
