.re-module-table {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    width: 100%;
    float: left;
    background-color: #fff;
  
    .table {
      margin-bottom: 0;
  
      tr {
        cursor: pointer;
  
        &:hover .re-hover-text {
          visibility: visible;
        }
  
        .re-hover-text {
          visibility: hidden;
          width: auto;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 5px 5px 5px;
          position: absolute;
          z-index: 1;
          right: 0;
          max-width: 500px;
          font-size: 14px;
  
          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
          }
        }
      }
  
      th {
        padding: 10px;
        font-size: 13px;
        color: #01010b;
        font-weight: 600;
        background-color: #f6f6f6;
        border: none;
        vertical-align: middle;
        color: var(--midnight);
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
  
        .re-sort {
          display: inline-grid;
          &.re-desc {
            &:after {
              color: #008080;
            }
          }
  
          &.re-asc {
            &:before {
              color: #008080;
            }
          }
  
          &:after,
          &:before {
            color: #a5a5a5;
          }
  
          &:after {
            content: "\f0dd";
            font-family: "FontAwesome";
            bottom: calc(50% - 0.75em);
            height: 1px;
          }
  
          &:before {
            content: "\f0de";
            font-family: "FontAwesome";
            top: calc(50% - 0.75em);
            height: 1px;
          }
        }
  
        .fa {
          color: #95989a;
          margin-left: 5px;
        }
      }
  
      td {
        padding: 18px 10px;
        font-size: 14px;
        color: #01010b;
        font-weight: normal;
        border-color: #f2f2f2;
        vertical-align: middle;
      }
  
      .re-action {
        a {
          margin: 3px 5px;
          opacity: 0.6;
        }
  
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  
    .re-loading {
      position: relative !important;
    }
  
    .re-no-data {
      background-color: #f2f2f2;
      border-radius: 3px;
      width: 100%;
      color: #01010b;
      font-weight: normal;
      line-height: 1.4;
      padding: 160px 20px;
      text-align: center;
    }
  }
  
  .re-table-td {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #008080;
  
    .re-icon {
      margin-right: 10px;
      margin-left: 10px;
      vertical-align: middle;
      width: 20px;
    }
  
    audio:focus {
      outline: none;
    }
  
    .re-audio {
      height: 35px;
    }
  
    .re-attachment {
      display: flex;
      align-items: flex-end;
      margin-top: 10px;
    }
  }
  
  .re-file-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px !important;
    display: inline-block;
    vertical-align: middle;
  }
  
  .re-tooltip {
    position: relative;
    display: inline-block;
  
    &:hover .re-tooltiptext {
      visibility: visible;
    }
  
    .re-tooltiptext {
      visibility: hidden;
      width: auto;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 5px 5px 5px;
      position: absolute;
      z-index: 1;
      top: 150%;
      left: 50%;
      margin-left: -60px;
  
      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
      }
    }
  }
  
  .re-cell-format {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #008080;
  }
  
  .re-initials {
    float: left;
    color: teal;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    border: 1px solid #c1efef;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    text-transform: uppercase;
    padding: 4px;
    margin: 1px 4px 0px 0;
    margin-bottom: 0 !important;
    cursor: pointer;
    width: 25px;
    height: 24px;
    text-align: center;
  }
  
  .re-sub-category {
    color: #8f8f8f;
  }
  
  @media screen and (max-width: 768px) {
    .re-module-table {
      width: 800px;
    }
  }
  