// .scrollhide ::-webkit-scrollbar {
//   width: 0px;
// }
.scrollhide #wrapper {
    min-height: inherit;
    // padding-right: 0;
  }
  
  #wrapper {
    padding-top: 0px;
    padding-left: 85px;
    padding-right: 10px;
    width: 100%;
    min-height: 550px;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.padd0 {
    padding-top: 5px;
  }
  
  @media screen and (max-width: 767px) {
    #wrapper.padd0 {
      padding-top: 53px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .signinForm .row:before {
      width: 100%;
    }
    .signinForm .signinBox {
      width: 100%;
    }
  }
  
  body {
    line-height: 1;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    background-color: #fff;
  }
  